<footer>
  <div class="footer-img w-100 h-auto">
    <div class="footer-top text-center py-4">
      <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h3 class="nav-brand">Lime</h3>
          <div class="col-10 offset-1 pb-2 text-center">
             <a class="px-2 link-secondary" href="#" style="color: white;"><i class="fa-brands fa-instagram"></i></a>
             <a class="px-2 link-secondary" href="#" style="color: white;"><i class="fa-brands fa-twitter"></i></a>
             <a class="px-2 link-secondary" href="#" style="color: white;"><i class="fa-brands fa-facebook"></i></a>
             <a class="px-2 link-secondary" href="#" style="color: white;"><i class="fa-brands fa-youtube"></i></a>
          </div>
        </div>
      </div>
      </div>
    </div>
    <hr class="footer-divider"/>
    <div class="footer-main">
      <div class="container">
        <h3 class="text-center pt-4">Category</h3>
        <div class="row">
        <div class="col-sm-4 mx-5 mx-sm-0">
          <ul class="list-unstyled">
            <li class="my-3"><%= link_to "和食", "/posts/category/JapaneseFood", style:"color: white;" %></li>
            <li class="my-3"><%= link_to "洋食・西洋料理", "/posts/category/WesternCuisine", style:"color: white;" %></li>
            <li class="my-3"><%= link_to "中華料理", "/posts/category/ChineseFood", style:"color: white;" %></li>
            <li class="my-3"><%= link_to "アジア・エスニック料理", "/posts/category/AsianFood", style:"color: white;" %></li>
            <li class="my-3"><%= link_to "カレー", "/posts/category/Curry", style:"color: white;" %></li>
          </ul>
        </div>
        <div class="col-sm-4 mx-5 mx-sm-0">
          <ul class="list-unstyled">
            <li class="my-3"><%= link_to "焼き肉・ステーキ", "/posts/category/Meat", style:"color: white;" %></li>
            <li class="my-3"><%= link_to "居酒屋", "/posts/category/Drink", style:"color: white;" %></li>
            <li class="my-3"><%= link_to "カフェ・喫茶店", "/posts/category/Cafe", style:"color: white;" %></li>
            <li class="my-3"><%= link_to "スイーツ・ベーカリー", "/posts/category/Sweets", style:"color: white;" %></li>
            <li class="my-3"><%= link_to "ラーメン・麺類", "/posts/category/Noodles", style:"color: white;" %></li>
          </ul>
        </div>
        <div class="col-sm-4 mx-5 mx-sm-0">
          <ul class="list-unstyled">
            <li class="my-3"><%= link_to "Bar(バー)", "/posts/category/Bar", style:"color: white;" %></li>
            <li class="my-3"><%= link_to "ビュッフェ・バイキング", "/posts/category/Buffet", style:"color: white;" %></li>
            <li class="my-3"><%= link_to "ファミレス・ファストフード", "/posts/category/Family", style:"color: white;" %></li>
            <li class="my-3"><%= link_to "その他飲食店", "/posts/category/Restaurant", style:"color: white;" %></li>
          </ul>
        </div>
  <!--ライセンスキー（HTMVrev)-->
  <!--D8385F87-75004B1A-81CD25AC-ABDE74B3-->
  </div>
      </div>
    </div>
    <hr class="footer-divider"/>
    <div class="footer-bottom text-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <p>&copy; 2024 Shinya Ito.(ライセンス</p>
        </div>
      </div>
    </div>
  </div>
</footer>